In [2]:
import pandas as pd
import numpy as np
import os
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import load_diabetes

In [3]:
diabetes = load_diabetes()

In [4]:
df_features = pd.DataFrame(data=diabetes.data, columns=diabetes.feature_names)

In [5]:
df_features['target'] = diabetes.target

In [6]:
df_features.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641,135.0

In [7]:
# Shuffle the dataset randomly
merged_df = df_features.sample(frac=1, random_state=42).reset_index(drop=True)

# Split the dataset into 5 clients
num_clients = 2
data_splits = np.array_split(merged_df, num_clients)

# Create directory to save split files
output_directory = "../client_data/"
os.makedirs(output_directory, exist_ok=True)

# Save each split into separate CSV files
for i, split_data in enumerate(data_splits):
    split_file_path = os.path.join(output_directory, f"client_{i+1}_data.csv")
    split_data.to_csv(split_file_path, index=False)

    print(f"Client {i+1} data saved to {split_file_path}")

Client 1 data saved to ../client_data/client_1_data.csv
Client 2 data saved to ../client_data/client_2_data.csv

d:\Study\Anaconda\Lib\site-packages\numpy\core\fromnumeric.py:59: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

In [9]:
df_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442 entries, 0 to 441
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     442 non-null    float64
 1   sex     442 non-null    float64
 2   bmi     442 non-null    float64
 3   bp      442 non-null    float64
 4   s1      442 non-null    float64
 5   s2      442 non-null    float64
 6   s3      442 non-null    float64
 7   s4      442 non-null    float64
 8   s5      442 non-null    float64
 9   s6      442 non-null    float64
 10  target  442 non-null    float64
dtypes: float64(11)
memory usage: 38.1 KB